
// SASS for most views
// dependencies: web-fonts.scss

// Google Web Fonts
@import 'web-fonts';
@include web-font((Montserrat, Open Sans), (400 b, 400 b 600)); // http://rosspenman.com/sass-web-fonts/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:700italic);
@font-face {
  font-family: 'FontAwesome';
  src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Variables

// Colors
$dingodile: #e13f2c;	// red
$ms-ladybug: #ec6838;	// light-red
$lucidity: #0d314a;	// dark-blue
$heavens-gate: #c6dceb;	// light-blue on dark
$envidia: #ecf3f8;	// light-blue on light
$antique-blue: #6a879b; // gray blue on light
// logo
$logo-1: $ms-ladybug;
$logo-2: $dingodile;
// div bgs
$bg-light: #fff;
$bg-dark: $lucidity;
$bg-on-light: $envidia;
$bg-sep: $heavens-gate;
// text-colors
$text-light: $heavens-gate;
$text-dark: $lucidity;
$text-accent: $dingodile;
$text-subtle: $antique-blue;
// btn bgs
$bg-danger: $dingodile;
$bg-info: $heavens-gate;

// Sizes
$logo-height: 100px;

// Mixins

@mixin size ($width: 100px, $height: 100px) {
	width: $width;
	height: $height;
}

@mixin border-radius ($radius: 4px) {
	border-radius			: $radius;
	-moz-border-radius		: $radius;
	-webkit-border-radius	: $radius;
}

@mixin gradient-horizontal ($firstColor: #FFF, $secondColor: #DDD) {
	background : $firstColor; /* Fallback solid color for old browsers */
	background : linear-gradient(to right, $firstColor 0%, $secondColor 100%); /* W3C */
	background : -moz-linear-gradient(left,  $firstColor 0%, $secondColor 100%); /* FF 3.6+ */
	background : -ms-linear-gradient(left, $firstColor 0%, $secondColor 100%); /* IE 10+ */
	background : -o-linear-gradient(left, $firstColor 0%, $secondColor 100%); /* Opera 11.10+ */
	background : -webkit-linear-gradient(left,  $firstColor 0%,$secondColor 100%); /* Chrome 10+, Safari 5.1+ */
	background : -webkit-gradient(linear, left top, right top, color-stop(0%,$firstColor), color-stop(100%,$secondColor)); /* Chrome, Safari 4+ */
	filter : progid:DXImageTransform.Microsoft.gradient(startColorstr= '#{$firstColor}', endColorstr= '#{$secondColor}', GradientType=1); /* IE 6-9 */
}

@mixin fa {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// users/show.html.erb

html, body {
	@include size(100%, 100%);
	display: block;
	background: $bg-dark;
}

* {
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.fa-bell:before {
	@include fa;
	content: "\f0a2";
}

.fa-users:before {
	@include fa;
	content: "\f0c0";
}

.fa-plus:before {
	@include fa;
  content: "\f055";
}

.container {
	@include size(100%, 100%);
	display: block;
	position: relative;
	background: $bg-light;
	color: $text-dark;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
}

.sidebar {
	$sidebar-width: 200px;
	@include size($sidebar-width, 100%);
	display: inline-block;
	position: relative;
	overflow: hidden;
	float: left;
	background: $bg-dark;
	color: $text-light;

	.logo {
		@include size(100%, $logo-height);
		display: block;
		@include gradient-horizontal($logo-1, $logo-2);

		color: white;
		font-family: 'Montserrat';
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;

		line-height: $logo-height;
		text-align: center;
	}

	.sidebar-user-pic {
		@include size(120px, 120px);
		@include border-radius(100%);
		margin: 40px auto 25px auto;
		overflow: hidden;
	}

	.sidebar-user-info {
		text-align: center;
		margin-bottom: 40px;

		.sidebar-user-info-detail {
			font-size: 14px;
		}

		.name {
			font-size: 16px;
			font-weight: bold;
		}
	}

	.sidebar-btns {
		.sidebar-btn {
			$btn-height: 37px;
			@include size(100%, $btn-height);
			display: block;
			font-family: 'Montserrat';
			font-size: 14px;
			text-transform: uppercase;
			text-align: center;
			line-height: $btn-height;
		}

		.edit-btn {
			margin-bottom: 1px;
			background: $bg-info;
			color: $text-dark;
		}

		.logout-btn {
			background: $bg-danger;
			color: white;
		}
	}

	.sidebar-track {
		@include size($sidebar-width, auto);
		display: block;
		position: absolute;
		bottom: 0;
		padding-bottom: 20px;
		font-weight: bold;

		.track-row {
			@include size(100%, auto);
			font-size: 11px;
			text-align: center;
		}

		.fraction {
			$num-size: 36px;
			line-height: $num-size;
			padding: 20px;

			div {
				float: left;
				line-height: $num-size;
			}

			.track-numer {
				font-family: 'Libre Baskerville';
				font-style: italic;
				font-size: $num-size;
				font-weight: 400;
				color: $text-accent;
			}

			.track-slash {
				float: right;
				font-size: 24px;
				font-weight: 400;
			}

			.track-denom {
				float: right;
				margin-left: 4px;
				font-size: 12px;
			}
		}
	}
}

.content {
	height: 100%;
	position: relative;
	overflow: hidden;
	background: $bg-light;

	.content-sep {
			content: "";
			float: left;
			height: 75%;
			width: 1px;
			background: red;
			margin-top: $logo-height + 42px;
			border-right: 1px solid $bg-sep;
	}

	.content-col {
		float: left;
		position: relative;
		height: 100%;
		overflow: hidden;	// TODO
		//margin-bottom: -9000px;

		&.pings {
			@include size(60%, 100%);
		}

		&.contacts {
			@include size(39%, 100%);
		}

		.content-col-head {
			$icon-size-lg: 72px;
			$height: $logo-height + 10px;
			display: block;
			position: relative;
			padding: 5px 0 5px 0;
			margin: 0 auto;
			background: $bg-light;
			text-align: center;
			line-height: $height;

			.fa-bell {
				color: $text-accent;
				font-size: $icon-size-lg;
			}

			.fa-users {
				color: $text-accent;
				font-size: $icon-size-lg;
			}
		}

		.list-create {
			background: $bg-on-light;
			cursor: pointer;

			&.pings-pad {
				margin: 0 60px 0 60px;
			}

			&.contacts-pad {
				margin: 0 30px 0 30px;
			}

			.create-btn {
				font-family: Libre Baskerville;
				font-style: italic;
				font-weight: 700; // or 700?

				&.pings-create-btn {
					padding: 30px 36px;
					font-size: 32px;
				}

				&.contacts-create-btn {
					padding: 22px 28px;
					font-size: 24px;
				}

				.fa-plus {
					margin-right: 16px;
					color: $text-accent;
				}
			}
		}

		.list {
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;

			&.pings-list {
				font-size: 28px;
				padding: 0 60px 0 60px;

				li {
					$pad-top: 14px;
					padding: $pad-top 0 $pad-top 36px;

					&:nth-of-type(1) {
						padding-top: 2 * $pad-top;
					}

					&:last-of-type {
						padding-bottom: 2 * $pad-top;
					}
				}
			}

			&.contacts-list {
				color: $text-subtle;
				font-size: 20px;
				padding: 0 30px 0 30px;

				li {
					$pad-top: 12px;
					padding: $pad-top 0 $pad-top 28px;

					&:nth-of-type(1) {
						padding-top: 2 * $pad-top;
					}

					&:last-of-type {
						padding-bottom: 2 * $pad-top;
					}
				}
			}

			b {
				font-weight: 600;
			}
		}
	}
}
